@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.color-tag-maintags {
    color: tomato; /* BlueViolet for </ul> */
}

.color-tag-othertag {
    color: rgb(0, 255, 174);
}


.codebox {
    width: 100%;
    display: flex;
}

.wTitle {
    border: solid #04aa6d 2px;
    color: #04aa6d;
    border-right: 0px;
    border-top: 0px;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

/* Code box styling */
.mockup-code {
    background-color: #053122;
    color: #f5f5f7;
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
    border-radius: 8px 0px 0px 8px;
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
    width: 50%;
    overflow-x: auto;
    position: relative;
}

.code-header {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 0;
    position: absolute;
    top: 0.5rem;
    left: 1rem;
}

.dot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #04aa6d;
    border-radius: 50%;
}

.mockup-code pre {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}

.mockup-code pre::before {
    content: attr(data-prefix);
    font-family: 'Source Code Pro', monospace;
    color: #04aa6d;
    margin-right: 1rem;
    min-width: 2rem;
    text-align: right;
}

h3.outputHeading {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #04aa6dcf;
    color: #ffffff;
    padding: 3px 6px;
    border-radius: 0px 0px 10px 0px;
}

.outputview {
    position: relative;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    width: 50%;
    border-radius: 0px 8px 8px 0px;
    padding-top: 40px;
}



.hovertable tr:hover {
    background-color: #04aa6d;
}

/* Making Responsive */

@media only screen and (max-width: 600px) {

    .codebox {
        width: 100%;
        flex-direction: column;
    }

    .mockup-code {
        border-radius: 8px 8px 0px 0px;
        width: auto;
        font-size: medium;
    }


    .outputview {
        width: auto;
        border-radius: 0px 0px 8px 8px;
        overflow: auto;
    }

}