.quiz-container input {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #04aa6d;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  top: 4px;
}

.quiz-container input:checked {
  border: 6px solid #04aa6d;
}


.quiz-container {
  background-color: #04aa6d0d;
  padding: 20px;
  margin: 100px auto;
  border-radius: 8px;
  max-width: 700px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: solid 2px #04aa6dc7;
}

.quiz-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.question {
  font-size: 18px;
  margin-bottom: 15px;
}

.options label {
  display: block;
  background-color: #04aa6d2e;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.options {
  text-align: justify;
}

.options input[type="radio"] {
  margin-right: 10px;
}

.options label:hover {
  background-color: #00d084;
}

.submit-btn {
  background-color: #00d084;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.submit-btn:hover {
  background-color: #00b874;
}

.feedback {
  margin-top: 10px;
  font-size: 16px;
  color: #f44336;
}

.feedback.correct {
  color: #00d084;
}

@keyframes fade-out {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}




.red-fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 1000px #ff0000;
  animation: fade-out 1s ease forwards;
  pointer-events: none;
}




.js-confetti {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  pointer-events: none;
  z-index: 1;
}



@keyframes confetti-slow {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0deg) rotateY(0deg);
    opacity: 1;
  }

  100% {
    transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes confetti-medium {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0deg) rotateY(0deg);
    opacity: 1;
  }

  100% {
    transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
    opacity: 0;
  }
}

@keyframes confetti-fast {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0deg) rotateY(0deg);
    opacity: 1;
  }

  100% {
    transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
    opacity: 0;
  }
}

.confetti {
  position: absolute;
  top: -10px;
}

.confetti--animation-slow {
  animation: confetti-slow 2s linear forwards;
}

.confetti--animation-medium {
  animation: confetti-medium 1.5s linear forwards;
}

.confetti--animation-fast {
  animation: confetti-fast 1s linear forwards;
}