/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap');

/* Body Styling */
body {
    color: white;
    font-family: "Baloo Da 2", serif;
    margin-bottom: 100px;
}

.wTitle {
    border: solid #04aa6d 2px;
    color: #04aa6d;
    border-right: 0px;
    border-top: 0px;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}



/* h1-h6 styling */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}



.table-container {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ffffff1e;
}

th {
    background-color: #04aa6d;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f21e;
}




.quiz-container {
    background-color: #1e1e2f;
    padding: 20px;
    border-radius: 8px;
    width: 800px;
   
   
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .quiz-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .question {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .options label {
    display: block;
    background-color: #29293d;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .options input[type="radio"] {
    margin-right: 10px;
  }
  
  .options label:hover {
    background-color: #00d084;
  }
  
  .submit-btn {
    background-color: #00d084;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .submit-btn:hover {
    background-color: #00b874;
  }
  
  .feedback {
    margin-top: 10px;
    font-size: 16px;
    color: #f44336; 
  }
  
  .feedback.correct {
    color: #00d084; 
  }




.tip-box {
    background-color: #fff8b0; /* Yellow background */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
}
.tip-text {
    font-size: 14px;
    color: #333;
}

