/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap');

/* Body Styling */
body {
    color: white;
    font-family: "Baloo Da 2", serif;
    margin-bottom: 100px;
}

.wTitle {
    border: solid #04aa6d 2px;
    color: #04aa6d;
    border-right: 0px;
    border-top: 0px;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}



/* h1-h6 styling */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}



.table-container {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ffffff1e;
}

th {
    background-color: #04aa6d;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f21e;
}





.tip-box {
    background-color: #fff8b0; /* Yellow background */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
}
.tip-text {
    font-size: 14px;
    color: #333;
}

