/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap');

/* Body Styling */
body {
    color: white;
    font-family: "Baloo Da 2", serif;
}

.wTitle {
    border: solid #04aa6d 2px;
    color: #04aa6d;
    border-right: 0px;
    border-top: 0px;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}
  
.codebox {
    width: 100%;
    display: flex;
}

/* Code box styling */
.mockup-code {
    background-color: #053122;
    color: #f5f5f7;
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
    border-radius: 8px 0px 0px 8px;
    font-family: 'Courier New', monospace;
    font-size: 1rem;
    width: 50%;
    overflow-x: auto;
    position: relative;
}

.code-header {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 0;
    position: absolute;
    top: 0.5rem;
    left: 1rem;
}

.dot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #04aa6d;
    border-radius: 50%;
}

  












/* For Customizing Scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #04aa6d95;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}