/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap');

/* Body Styling */
body {
    color: white;
    font-family: "Baloo Da 2", serif;
}

/* h1-h6 styling */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.codebox {
    width: 100%;
    display: flex;
}

.wTitle {
    border: solid #04aa6d 2px;
    color: #04aa6d;
    border-right: 0px;
    border-top: 0px;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

/* Code box styling */
.mockup-code {
    background-color: #053122;
    color: #f5f5f7;
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
    border-radius: 8px 0px 0px 8px;
    font-family: 'Courier New', monospace;
    font-size: 1rem;
    width: 50%;
    overflow-x: auto;
    position: relative;
}

.code-header {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 0;
    position: absolute;
    top: 0.5rem;
    left: 1rem;
}

.dot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #04aa6d;
    border-radius: 50%;
}

.mockup-code pre {
    margin: 0;
}

.mockup-code pre::before {
    content: attr(data-prefix);
    color: #04aa6d;
    margin-right: 1rem;
    min-width: 2rem;
    text-align: right;
}

.outputview {
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    width: 50%;
    border-radius: 0px 8px 8px 0px;
}



.table-container {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ffffff1e;
}

th {
    background-color: #04aa6d;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f21e;
}



/* Making Responsive */

@media only screen and (max-width: 600px) {

    .codebox {
        width: 100%;
        flex-direction: column;
    }

/* Code box styling */
.mockup-code {
    border-radius: 8px 8px 0px 0px;
    width: auto;
    font-size: medium;
}


    .outputview {
        width: auto;
        border-radius: 0px 0px 8px 8px;
        overflow: auto;
    }

}




/* For Customizing Scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #04aa6d95;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}