/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap');

/* Body Styling */
body {
    color: white;
    font-family: "Baloo Da 2", serif;
}

/* h1-h6 styling */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


.table-container {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ffffff1e;
}

th {
    background-color: #04aa6d;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f21e;
}